# Data Science Tools and Ecosystem
In this notebook, Data Science Tools and Ecosystem are summarized.

## Author
Stefan

**Objectives:**
- List of popular languages that Data Scientists use
- Some of the commonly used libraries used by Data Scientists
- Open source development environments for Data Science

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. JavaScript

Some of the commonly used libraries used by Data Scientists include:
1. TenserFlow
2. SciPy
3. NumPy
4. Pandas

|Data Science Tools|
|------------------|
|RStudio|
|ApacheSpark|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335